# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.env

# Node
node_modules/
dist/
build/

# Logs and Debug
*.log
scratch/

# OS Files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
backend/commercetwin.db

.coverage*
htmlcov/
backend/.coverage*
backend/htmlcov/


.coverage*
htmlcov/
